USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 29/03 /2025 7:18:07 AM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGUYENTIENDUC\MSSQL\DATA\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGUYENTIENDUC\MSSQL\DATA\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABOMON] [nvarchar](10) NOT NULL,
	[TENBOMON] [nvarchar](100) NOT NULL,
	[MAKHOA] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABOMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKIMONHOC]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKIMONHOC](
	[MALOPHOCPHAN] [nvarchar](10) NOT NULL,
	[MASINHVIEN] [nvarchar](13) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOPHOCPHAN] ASC,
	[MASINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MALOPHOCPHAN] [nvarchar](10) NOT NULL,
	[MASINHVIEN] [nvarchar](13) NOT NULL,
	[DIEMTHANHPHAN] [float] NULL,
	[DIEMTHI] [float] NULL,
	[PHANTRAMTHI] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOPHOCPHAN] ASC,
	[MASINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGIAOVIEN] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[MABOMON] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAOVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIENCHUNHIEM]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIENCHUNHIEM](
	[MALOP] [nvarchar](10) NOT NULL,
	[MAGIAOVIEN] [nvarchar](10) NOT NULL,
	[HOCKI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAGIAOVIEN] ASC,
	[HOCKI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nvarchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](10) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOCPHAN]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOCPHAN](
	[MALOPHOCPHAN] [nvarchar](10) NOT NULL,
	[TENLOPHOCPHAN] [nvarchar](100) NOT NULL,
	[HOCKI] [int] NOT NULL,
	[MAMON] [nvarchar](10) NULL,
	[MAGIAOVIEN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOPHOCPHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPSINHVIEN]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPSINHVIEN](
	[MALOP] [nvarchar](10) NOT NULL,
	[MASINHVIEN] [nvarchar](13) NOT NULL,
	[CHUCVU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MASINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMON] [nvarchar](10) NOT NULL,
	[TENMON] [nvarchar](100) NOT NULL,
	[SOTINCHI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 29/03 /2025 7:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASINHVIEN] [nvarchar](13) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[DANGKIMONHOC]  WITH CHECK ADD FOREIGN KEY([MALOPHOCPHAN])
REFERENCES [dbo].[LOPHOCPHAN] ([MALOPHOCPHAN])
GO
ALTER TABLE [dbo].[DANGKIMONHOC]  WITH CHECK ADD FOREIGN KEY([MASINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([MASINHVIEN])
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([MALOPHOCPHAN], [MASINHVIEN])
REFERENCES [dbo].[DANGKIMONHOC] ([MALOPHOCPHAN], [MASINHVIEN])
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD FOREIGN KEY([MABOMON])
REFERENCES [dbo].[BOMON] ([MABOMON])
GO
ALTER TABLE [dbo].[GIAOVIENCHUNHIEM]  WITH CHECK ADD FOREIGN KEY([MAGIAOVIEN])
REFERENCES [dbo].[GIAOVIEN] ([MAGIAOVIEN])
GO
ALTER TABLE [dbo].[GIAOVIENCHUNHIEM]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[LOPHOCPHAN]  WITH CHECK ADD FOREIGN KEY([MAGIAOVIEN])
REFERENCES [dbo].[GIAOVIEN] ([MAGIAOVIEN])
GO
ALTER TABLE [dbo].[LOPHOCPHAN]  WITH CHECK ADD FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[LOPSINHVIEN]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[LOPSINHVIEN]  WITH CHECK ADD FOREIGN KEY([MASINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([MASINHVIEN])
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD CHECK  (([DIEMTHANHPHAN]>=(0) AND [DIEMTHANHPHAN]<=(10)))
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD CHECK  (([DIEMTHI]>=(0) AND [DIEMTHI]<=(10)))
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD CHECK  (([PHANTRAMTHI]>=(0) AND [PHANTRAMTHI]<=(100)))
GO
USE [master]
GO
